<!DOCTYPE html>

<html lang="en" ng-app="book">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Books</title>

    <!-- STYLESHEETS -->
<!--     <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="/styles/style.css">

    <!-- VENDOR SCRIPTS -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <script src="scripts/app.js"></script>
    <!-- <script src="scripts/controllers/AlbumsIndexController.js"></script> -->

</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to angular books app</h1>
            <p>Your virtual library!</p>
        </div>
    </div>
	<div class="container" ng-controller="BooksIndexController as booksIndexCtrl">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <form class="form-horizantal" ng-submit="booksIndexCtrl.createBook()" type="submit">
                    <fieldset>

                        <legend>Add New Book</legend>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Book</label>
                            <div class="col-md-4">
                            <input id="title" type="text" class="form-control" placeholder="New book title" ng-model="booksIndexCtrl.newBook.title" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Author</label>
                            <div class="col-md-4">
                            <input id="author" type="text" class="form-control" placeholder="New book author" ng-model="booksIndexCtrl.newBook.author">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Image</label>
                            <div class="col-md-4">
                            <input id="image" type="text" class="form-control" placeholder="New book image" ng-model="booksIndexCtrl.newBook.image">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Release Date</label>
                            <div class="col-md-4">
                            <input id="releaseDate" type="text" class="form-control" placeholder="New book releasedate" ng-model="booksIndexCtrl.newBook.releaseDate">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Save Book</label>
                            <div class="col-md-4">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>

        <p><b>booksIndexCtrl.newBook:</b> {{ booksIndexCtrl.newBook }}</p>
            <input type="text" class="form-control" ng-model="searchText" placeholder="Search Books">
            <div ng-repeat="book in booksIndexCtrl.books | orderBy: 'title' | filter: searchText">{{book}}</div>
    </div>
</body>
</html>