<!DOCTYPE html>

<html lang="en" ng-app="book">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>book</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/style.css">

    <!-- VENDOR SCRIPTS -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <script src="/scripts/app.js"></script>
    <script src="scripts/controllers/AlbumsIndexController.js"></script>

</head>
<body>
	<div ng-controller="BookIndexController as bookIndexCtrl"></div>

</body>
</html>